USE [LastOne]
GO
/****** Object:  Table [dbo].[Taoyuan]    Script Date: 2021/7/16 下午 08:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taoyuan](
	[number] [int] NOT NULL,
	[hotel] [nvarchar](max) NULL,
	[phone] [nvarchar](max) NULL,
	[address] [nvarchar](max) NULL,
	[longitude] [float] NULL,
	[latitude] [float] NULL,
	[content] [nvarchar](max) NULL,
	[picture] [varbinary](max) NULL,
	[mimeType] [varchar](max) NULL,
 CONSTRAINT [PK_Taoyuan] PRIMARY KEY CLUSTERED 
(
	[number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
